@model MVCstudentRegistration.Models.stregistration

@{
    ViewBag.Title = "create";
}

<h2>create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>stregistration</h4>
    <h2>
        @ViewBag.msg
    </h2>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.fisrtname, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.fisrtname, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.fisrtname, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.middlename, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.middlename, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.middlename, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.lastname, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.lastname, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.lastname, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.mobile, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.mobile, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.mobile, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.gender, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            Female
            @Html.RadioButtonFor(model => model.gender, "Female", new { htmlAttributes = new { @class = "form-control" } })
            Male
            @Html.RadioButtonFor(model => model.gender, "male", new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.gender, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.address, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.address, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.address, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.course, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.course, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.course, "", new { @class = "text-danger" })
        </div>
    </div>

    @*<div class="form-group">
            <ul>
                <li>
                    <label class="anim">
                        <input type="checkbox" class="checkbox" value="Java" name="knowledge">
                        <span>Java</span>
                    </label>
                </li>
                <li>
                    <label class="anim">
                        <input type="checkbox" class="checkbox" value=".Net" name="knowledge">
                        <span>.Net</span>
                    </label>
                </li>
                <li>
                    <label class="anim">
                        <input type="checkbox" class="checkbox" value="Python" name="knowledge">
                        <span>Python</span>
                    </label>
                </li>
                <li>
                    <label class="anim">
                        <input type="checkbox" class="checkbox" value="Android" name="knowledge">
                        <span>Android</span>
                    </label>
                </li>
            </ul>

        </div>*@

    <div class="form-group">
        @Html.LabelFor(model => model.stream, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            MCA
            @Html.RadioButtonFor(model => model.stream, "MCA", new { htmlAttributes = new { @class = "form-control" } })
            Msc
            @Html.RadioButtonFor(model => model.stream, "Msc", new { htmlAttributes = new { @class = "form-control" } })
            BE
            @Html.RadioButtonFor(model => model.stream, "BE", new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.stream, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.PasswordFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
        }

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
