@model IEnumerable<MVCstudentRegistration.Models.stregistration>

@{
    ViewBag.Title = "Index";
}

<h2>IndexList</h2>

<p>
    @Html.ActionLink("Create New", "Create")|
    @Html.ActionLink("login", "checklogin")
</p>
<div>
    @ViewBag.msg
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fisrtname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.middlename)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mobile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.course)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.stream)
        </th>
        @* <th>
           @Html.DisplayNameFor(model => model.java)
        </th>
        <th>
            @Html.DisplayNameFor(model=>model.dotnet)
        </th>
        <th>
            @Html.DisplayNameFor(model=>model.python)
        </th>
        *@
        <th>
            @Html.DisplayNameFor(model => model.password)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Id)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.fisrtname)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.middlename)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.lastname)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.email)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.mobile)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.gender)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.address)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.course)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.stream)
    </td>
    @*<td>
            @Html.RadioButtonFor(modelItem => item.stream, "MCA")
        </td>
        <td>
            @Html.RadioButtonFor(modelItem => item.stream, "MSC")
        </td>
        <td>
            @Html.RadioButtonFor(modelItem => item.stream, "BE")
        </td>
    *@
    @*<td>
            @Html.CheckBoxFor(modelItem => item.java,false)
        </td>
        <td>
            @Html.CheckBoxFor(modelItem=>item.dotnet,false)
        </td>
        <td>
            @Html.CheckBoxFor(modelItem=>item.python,false)
        </td>
    *@
    <td>
        @Html.DisplayFor(modelItem => item.password)
    </td>

    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
        @*  @Html.ActionLink("Details", "Details", new { id = item.Id }) |*@
        @Html.ActionLink("Delete", "Delete", new { em = item.email })
    </td>
</tr>
}

</table>
